*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.neon{
    user-select: none;
    font-size: 5em;
    font-weight: 500;
    color: #fff;
    letter-spacing: 5px;
    cursor: pointer;
    transition: 1s;
    text-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.neon:hover{
    text-shadow: 0 0 25px #03e9f4,
    0 0 45px #03e9f4,
    0 0 70px #03e9f4,
    0 0 120px #03e9f4;
}